.playground  {
	width: 525px;
	height: 550px;
	margin: 20px auto 0 auto;
	position: relative;
	background-image:url('../img/tetris.png');
}
.playground img  { position: absolute;}
.playground p  {font-size: 30px;
                font-family: 'SimHei';
                font-weight: bold;
                color: #667799;
                position: absolute;
                left:305px;
                top:120px;
}
.playground p+p  {  top:176px; }
.playground p+p+p  { top:232px; }           